#New{
	width:100%;
	padding-bottom:1rem;
	#newdetail{
		padding:.15rem;
		background-color: #fff;
	h2{
		font:500 .22rem/.3rem "";
		}
		p{
			span{
				font:.14rem/.3rem "";
				color:gray;
			}
			i,b{
				font:.14rem/.3rem "";
				color:#1e7dd7;
			}
			i{
				margin-left:.6rem;
			}
			b{
				margin-left:.15rem;
			}
		}
	}
	#html{
		margin-top: .3rem;
		font:.16rem/.24rem "";

		color:#333;
		img{
			width:3.39rem;
			height:2.24rem;
		}
	}
	#author{
		padding:.15rem;
		font:.16rem/.24rem "";
		color:#333;
	}
	#foot{
		#bottom{
		margin-left:.25rem;
		}
	}
}